*.class
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

ng-service-app/.classpath
ng-service-ejb/.classpath
ng-service-restapi/.classpath
ng-service-ui/.classpath

ng-service-app/.settings/
ng-service-ejb/.settings/
ng-service-restapi/.settings/
ng-service-ui/.settings/

/ng-service-ejb/bin/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
