@CHARSET "UTF-8";
.menutop1 {
	position: fixed;
	z-index: 3;
	background-color: white;
	height: 100px;
	padding-top: 30px;
}
/*
.menutop2 { not need yet
	position: fixed;
	z-index: 10;
	background-color: white;
	height: 100px;
}
*/

#buttonSearch {
	position: relative;
	left: 400px;
	background-color: #959892;
	border-color: #959892;
	min-width: 100px;
}

#sortService, #sortServer {
	height: 15px;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.columnCenter {
	text-align: center;
	vertical-align: middle;
}

#ngs-form\:delete_ServiceInstanceButton {
	background-color: red;
	border: none;
	bottom: 20px;
	right: 20px;
	position: fixed;
}

.hideElem {
	display: none;
}

.modal-header {
	background-color: red !important;
}

.modal-content {
	width: 190%;
	right: 45%;
}

.colRoleUser {
	width: 450px;
}

.colPermissionEnv, .colPermissionService, .colPermissionAction, .colRole, .colRight {
	width: 400px;
}

.tblRoleUser {
	top: 80px;
	position: absolute;
	overflow-y: scroll;
}

.tblPermission {
	position: relative;
	top: 50px;
}

#ngs-form\:roleName {
	position: relative;
	top:40px;
}

.addButton {
	position: relative;
	top: 30px;
	left: 40px;
}

.addPermission {
	position: relative;
	top:30px;
	left: 40px;
	margin-left: 30px;
}

.deletePermission{
	height: 70%;
}

.deletePermission {
    padding: 4px 8px;
    font-size: 10px;
    line-height: 1.3333333;
    border-radius: 6px;
    background-color: red;
    border-color: red;
    color: white;
}

#errorMessage {
	background: grey;
	z-index: 4;
	position: fixed;
	width: 100%;
	height: 300px;
}

