@CHARSET "UTF-8";

#main_nav {
	border-radius: 0;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
	border: 0;
	background-color: #125D12;
	min-height: 500px;
}

.navigation {
	position: fixed;
	top: 135px;
	z-index: 0; /*should not overlap other things -> 0*/
}

.row {
	height: 100%;
}

html, body {
	margin: 0;
	padding: 0;
}

#nav-container {
	padding: 0;
	max-width: 500px;
}

.float_right {
	float: right;
}

.edit-new_mid {
	margin-top: 100px;
}


.input_descriptor {
	min-width: 130px;
	text-align: left;
	font-weight: bold;
}

.inner_input_seperator {
	padding-top: 5px;
	padding-bottom: 5px;
}

.outer_input_seperator {
	margin-top: 40px;
}

.full-width {
	width: 100%; /*gets the full width within an element*/
}

.nav-list {
	padding-left: 15px;
	font-family: sans-serif;
	font-style: normal;
	font-size: 22px;
	font-weight: 500;
	max-width: 500px;
}

.nav-list:hover {
	background-color: #e7e7e7;
	max-width: 500px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover
	{
	color: black !important; /*override bootstrap color scheme*/
}

.navbar-default .navbar-nav a {
	color: white !important; /*override bootstrap color scheme*/
}

.navbar-default .navbar-nav a:hover {
	color: black !important; /*override bootstrap color scheme*/
}

#ngs-form\:ebk-title {
	position: fixed; /*stay in position while scrolling*/
	font-size: 250%;
	padding-left: 30px;
	margin-bottom: 15px;
	color: #e7e7e7;
	text-decoration: none;
}

#ngs-form\:ebk-title:hover {
	position: fixed;
	font-size: 250%;
	padding-left: 30px;
	margin-bottom: 15px;
	color: #e7e7e7;
	text-decoration: none;
}

.secondcol {
	z-index: 1;
	background-color: white;
	min-height: 500px;
}

.sortBy {
	height: 20px;
}

#ngs-form\:buttonStart { /*this id declaration is needed for JSF, because JSF is generating a new id for an element out of the form id and the origin element id*/
	position: relative;
	left: 50px;
	background-color: #29a20b;
	border-color: #29a20b;
	min-width: 100px;
}

#ngs-form\:buttonStop {
	position: relative;
	left: 80px;
	background-color: #e21414;
	border-color: #e21414;
	min-width: 100px;
}

#ngs-form\:buttonRestart {
	position: relative;
	left: 110px;
	background-color: #3465a4;
	border-color: #3465a4;
	min-width: 100px;
}

#ngs-form\:buttonStatus {
	position: relative;
	left: 140px;
	background-color: #f57900;
	border-color: #f57900;
	min-width: 100px;
}

#buttonStatus:ACTIVE {
	border: none;
}

.colCheckbox {
	width: 50px;
}

.colService {
	width: 200px;
}


.colEnvironment {
	width: 200px;
}

.colInstanceName {
	width: 200px;
}

.colHost {
	width: 200px;
}

.colStatus {
	width: 150px;
}

.actionImage {
	width: 30px;
}

.tbl {
	position: relative;
	top: 100px;
}

td {
	height: 40px;
}

th {
	height: 65px;
}

td {
	text-align: center;
	vertical-align: middle;
}

tbody tr:hover {
	/*blue border when hovering a column for better user experience*/
	border: groove;
	border-color: blue;
}


#user-col {
	z-index: 2; /*overlap other things whose index is 0 like the nav-bar*/
	margin-top: 30px;
	right: 0;
	position: fixed;
	background-color: white;
	min-height: 500px;
}

#settings_col {
	z-index: 100; /*overlap other things whose index is 0 like the nav-bar*/
	right: 0;
	bottom: 0; position : fixed;
	position: fixed;
	min-height: 200px;
}

#ngs-form\:addNew_ServiceInstanceButton {
	margin-right: 20px;
	background-color: green;
	margin-left: 500px; /*wrap next element sure to next line*/
}

#elemPerPageDiv {
	margin-top: 25px;
	margin-left: 500px;
	margin-right: 20px;
}

#ngs-form\:elemPerPage {
	min-width: 50px;
	max-width: 50px;
}

#ngs-form\:buttonFormSubmit {
	display: none;
}

#pagination {
	margin-top: 25px;
	margin-right: 20px;
}