@CHARSET "UTF-8";
.menutop1 {
	position: fixed;
	z-index: 1;
	background-color: white;
	height: 100px;
	padding-top: 30px;
}
/*
.menutop2 { not need yet
	position: fixed;
	z-index: 10;
	background-color: white;
	height: 100px;
}
*/
.colCheckbox {
	text-align: center;
	vertical-align: middle;
}

#searchsubmit {
	background-image: url(images/search.png);
}

#buttonSearch {
	position: relative;
	left: 400px;
	background-color: #959892;
	border-color: #959892;
	min-width: 100px;
}

#sortService, #sortServer {
	height: 15px;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}



